{% extends "base.html" %}

{% block content %}
    <form class="w-50 mx-auto mt-4" action="/success" method="post">
        <h2>Register You Pet</h2>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="owner-name"
                   placeholder="Owner's Name" name="owner"
                   autofocus autocomplete="off" required>
            <label for="owner-name">Owner's Name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="pet-name"
                   placeholder="Pet's Name" name="pet"
                   autocomplete="off" required>
            <label for="pet-name">Pet's Name</label>
        </div>
        <select name="pet-type" class="form-select form-select-lg mb-3" aria-label="Large select example">
            <option selected disabled>What type of pet do you have?</option>
            {% for type in pet_types %}
            <option value="{{ type }}">{{ type.title() }}</option>
            {% endfor %}
        </select>
        <h5>What services are you interested in?</h5>

        {% for service in services %}
        <div class="form-check">
            <input name="service" class="form-check-input"
                   type="checkbox" value="{{ service }}"
                   id="{{ service }}-service">
            <label class="form-check-label" for="{{ service }}-service">
              {{ service.title() }}
            </label>
        </div>
        {% endfor %}

        <button class="btn btn-dark mt-3" type="submit">Register</button>
    </form>
{% endblock %}
